/*body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
text {
  font: 10px sans-serif;
}*/