calendar-chart .day {
  fill: #fff;
  stroke: #ccc;
}

calendar-chart .month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

calendar-chart .RdYlGn .q0-11{
  fill:rgb(165,0,38)
}

calendar-chart .RdYlGn .q1-11{
  fill:rgb(215,48,39)
}

calendar-chart .RdYlGn .q2-11{
  fill:rgb(244,109,67)
}

calendar-chart .RdYlGn .q3-11{
  fill:rgb(253,174,97)
}

calendar-chart .RdYlGn .q4-11{
  fill:rgb(254,224,139)
}

calendar-chart .RdYlGn .q5-11{
  fill:rgb(255,255,191)
}

calendar-chart .RdYlGn .q6-11{
  fill:rgb(217,239,139)
}

calendar-chart .RdYlGn .q7-11{
  fill:rgb(166,217,106)
}

calendar-chart .RdYlGn .q8-11{
  fill:rgb(102,189,99)
}

calendar-chart .RdYlGn .q9-11{
  fill:rgb(26,152,80)
}

calendar-chart .RdYlGn .q10-11{
  fill:rgb(0,104,55)
}
