composite-canvas .x-axis path,
composite-canvas .y-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

composite-canvas .stroked-elem {
  stroke: black;
}

composite-canvas .chartContainer {
  max-width: 100%;
}
composite-canvas .draggable-areabtn-wrap {
  position: relative;
}
composite-canvas .icons-wrap.right-icons,
composite-canvas .settings-icon {
  position: absolute;
  right: 1em;
  top: 6px;
  z-index: 9;
}

composite-canvas  pareto-chart .line,
composite-canvas  stacked-composite-chart .line,
composite-canvas  grouped-composite-chart .line {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

composite-canvas #display-component {
  z-index: 110;
}
composite-canvas .opacity-none {
  opacity: .3 !important;
}

composite-canvas .settings-wrap {
  position: relative;
}
composite-canvas .settings-icon.inner  {
  right: 50px;
}
