.pie-tooltip {
  background-color: grey;
  color: white;
  display: inline-block;
  font-family: "Roboto";
  font-size: 12px;
  opacity: .8;
  padding: 2px;
}
.pie-tooltip tbody {
  position: relative;
}
.pie-tooltip tbody:before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid grey;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: calc(50% - 10px);
  position: absolute;
  width: 0;
}
